*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-authorization {
    width: 400px;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, .2);
}

.form-authorization__input-area {
    display: block;
    margin: auto;
    width: calc(100% - 3px);
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #e5ffee;
}

.form-authorization__btn {
    display: block;
    margin: auto;
    padding: 10px 15px;
    cursor: pointer;
    background: transparent;
    outline: 0;
    border: 0;
    background: #81da81;
    border-radius: 5px;
}

.form-authorization__input-area,
.form-authorization__btn {
    margin-bottom: 20px;
    outline: none;
    color: #0d6b0e;
}

/* .form-authorization__input-area:focus {
    border: 2px solid #369f36;
} */