.home-content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #626265;
    padding: 20px 10px;
    height: calc(100vh - 100px);
}

.home-content__title {
    color: #fff;
    margin-bottom: 20px;
}

.home-content__box {
    width: 100%;
}

.home-content__image {
    height: 400px;
    background-repeat: no-repeat;
}