.site-bar {
    width: 100%;
    max-width: 300px;
    height: calc(100vh - 100px);
    background: #222425;
}

.site-bar__list {
    list-style: none;
}

.site-bar__item {
    padding: 20px 0 20px 20px;
}

.site-bar__link {
    text-decoration: none;
    color: #fff;
}