.header {
    height: 100px;
    background-color: #222425;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #fff;
}

.logo {
    padding: 10px;
}

.logo__link {
    height: 80px;
    width: 80px;
    display: block;
    background: url('https://i.pinimg.com/originals/88/d9/6f/88d96f717a70792492ef4c299dfc7bfa.png') no-repeat;
    text-decoration: none;
    background-size: cover;
}